<a href="https://colab.research.google.com/github/Mashrur001/CSE111/blob/main/CSE111_Lab_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class DataType:
  def __init__ (self, name, value):
    self.name=name
    self.value=value
    #self.id=None
  def print_method(self):
    print(f"name is {self.name} and value is {self.value}")
  def print_method1(self, id):
    self.id=id
    print(f"name is {self.name} and value is {self.value} and also id is: {id}")
  def print_method2(self):
    print(f"name is {self.name} and value is {self.value}")

#####################################################################
data_type1 = DataType("Integer", 1234)
data_type1.print_method()
data_type1.print_method1(3254325)



print(data_type1)

name is Integer and value is 1234
name is Integer and value is 1234 and also id is: 3254325
<__main__.DataType object at 0x7fc7dac5e890>

In [ ]:
""""print(data_type1.name)
print(data_type1.value)
print('=====================')
data_type2 = DataType("String", "Hello")
print(data_type2.name)
print(data_type2.value)
print('=====================')
data_type3 = DataType("Float", 4.0)
print(data_type3.name)
print(data_type3.value)""""

# Question 1

In [ ]:
class DataType:
  def __init__ (self, n, v):
    self.name=n   # self.variableName = value
    self.value=v

# a=
#####################################################################
data_type1 = DataType("Integer", 1234)
print(data_type1.name)    # objectName.variableName
print(data_type1.value)
print('=====================')
data_type2 = DataType("String", "Hello")
print(data_type2.name)
print(data_type2.value)
print('=====================')
data_type3 = DataType("Float", 4.0)
print(data_type3.name)
print(data_type3.value)

Integer
1234
=====================
String
Hello
=====================
Float
4.0

# Question 2

In [ ]:
class Flower:
  def __init__(self):
    self.name=""
    self.color=""
    self.num_of_pertal=0

#####################################################################
flower1 = Flower()
flower1.name="Rose"
flower1.color="Red"
flower1.num_of_petal=6
print("Name of this flower:", flower1.name)
print("Color of this flower:",flower1.color)
print("Number of petal:",flower1.num_of_petal)
print("=====================")
flower2 = Flower()
flower2.name="Orchid"
flower2.color="Purple"
flower2.num_of_petal=4
print("Name of this flower:",flower2.name)
print("Color of this flower:",flower2.color)
print ("Number of petal:",flower2. num_of_petal)



print(flower1)
print(flower2)


if flower1 is flower2:
  print("they are same")
else:
  print("they are different")

Name of this flower: Rose
Color of this flower: Red
Number of petal: 6
=====================
Name of this flower: Orchid
Color of this flower: Purple
Number of petal: 4
<__main__.Flower object at 0x7fbab6613220>
<__main__.Flower object at 0x7fbab6613d90>
they are different

# Question 3

In [ ]:
class Joker:
  def __init__(self, name, power, is_he_psycho):
    self.name=name
    self.power=power
    self.is_he_psycho=is_he_psycho

#####################################################################
j1 = Joker('Heath Ledger', 'Mind Game', False)
print(j1.name)
print(j1.power)
print(j1.is_he_psycho)
print("=====================")
j2 = Joker('Joaquin Phoenix', 'Laughing out Loud', True)
print(j2.name)
print(j2.power)
print(j2.is_he_psycho)
print("=====================")

if j1 == j2:
  print('same')
else:
  print('different')
j2.name = 'Heath Ledger'
if j1.name == j2.name:
  print('same')
else:
  print('different')

Heath Ledger
Mind Game
False
=====================
Joaquin Phoenix
Laughing out Loud
True
=====================
different
same

# Question 4

In [ ]:
class Pokemon:
  def __init__(self, pn1, pn2,pp1, pp2, dr):
    self.pokemon1_name=pn1
    self.pokemon1_power=pp1

    self.pokemon2_name=pn2
    self.pokemon2_power=pp2

    self.damage_rate=dr

team_pika = Pokemon('pikachu', 'charmander', 90, 60, 10)
print('=======Team 1=======')
print('Pokemon 1:',team_pika.pokemon1_name, team_pika.pokemon1_power)
print('Pokemon 2:',team_pika.pokemon2_name, team_pika.pokemon2_power)
pika_combined_power = (team_pika.pokemon1_power + team_pika.pokemon2_power) * team_pika.damage_rate
print('Combined Power:', pika_combined_power)


team_pika = Pokemon('pikachu', 'charmander', 90, 60, 10)
print('=======Team 2=======')
print('Pokemon 1:',team_pika.pokemon1_name, team_pika.pokemon1_power)
print('Pokemon 2:',team_pika.pokemon2_name, team_pika.pokemon2_power)
pika_combined_power = (team_pika.pokemon1_power + team_pika.pokemon2_power) * team_pika.damage_rate
print('Combined Power:', pika_combined_power)

=======Team 1=======
Pokemon 1: pikachu 90
Pokemon 2: charmander 60
Combined Power: 1500
=======Team 2=======
Pokemon 1: pikachu 90
Pokemon 2: charmander 60
Combined Power: 1500

In [ ]:
=======Team 1=======
Pokemon 1: pikachu 90
Pokemon 2: charmander 60
Combined Power: 1500
=======Team 2=======
Pokemon 1: bulbasaur 80
Pokemon 2: squirtle 70
Combined Power: 1350

# Question 5

In [ ]:
class Player:
  def __init__(self):
    self.name=""
    self.jersy_number=0
    self.position=""


player1 = Player()
player1.name = "Ronaldo"
player1.jersy_number = 9
player1.position = "Striker"
print("Name of the Player:", player1.name)
print("Jersey Number of player:", player1.jersy_number)
print("Position of player:", player1.position)
print("===========================")
player2 = Player()
player2.name = "Neuer"
player2.jersy_number = 1
player2.position = "Goal Keeper"
print("Name of the player:", player2.name)
print("Jersey Number of player:", player2.jersy_number)
print("Position of player:", player2.position)

Name of the Player: Ronaldo
Jersey Number of player: 9
Position of player: Striker
===========================
Name of the player: Neuer
Jersey Number of player: 1
Position of player: Goal Keeper

# Question 6

In [ ]:
class Country:
  def __init__(self):
    self.name="Bangladesh"
    self.continent="Asia"
    self.capital="Dhaka"
    self.fifa_ranking=187

country = Country()
print('Name:',country.name)
print('Continent:',country.continent)
print('Capital:',country.capital)
print('Fifa Ranking:',country.fifa_ranking)
print('===================')
country.name = "Belgium"
country.continent = "Europe"
country.capital = "Brussels"
country.fifa_ranking = 1
print('Name:',country.name)
print('Continent:',country.continent)
print('Capital:',country.capital)
print('Fifa Ranking:',country.fifa_ranking)

Name: Bangladesh
Continent: Asia
Capital: Dhaka
Fifa Ranking: 187
===================
Name: Belgium
Continent: Europe
Capital: Brussels
Fifa Ranking: 1

In [ ]:
Name: Bangladesh
Continent: Asia
Capital: Dhaka
Fifa Ranking: 187
===================
Name: Belgium
Continent: Europe
Capital: Brussels
Fifa Ranking: 1

# Question 7

In [ ]:
class DemonSlayer:
  def __init__(self, name, style, number_of_technique, kill):
    self.name=name
    self.style=style
    self.number_of_technique=number_of_technique
    self.kill=kill


tanjiro = DemonSlayer("Tanjiro", "Water Breathing", 10, 10)
print('Name:',tanjiro.name)
print('Fighting Style:',tanjiro.style)
print(f'Knows {tanjiro.number_of_technique} technique(s) and has killed {tanjiro.kill} demon(s)')
print('===================')
zenitsu = DemonSlayer("Zenitsu", "Thunder Breathing", 1, 4)
print('Name:',zenitsu.name)
print('Fighting Style:',zenitsu.style)
print(f'Knows {zenitsu.number_of_technique} technique(s) and has killed {zenitsu.kill} demon(s)')
print('===================')
inosuke = DemonSlayer("Inosuke", "Beast Breathing", 5, 7)
print('Name:',inosuke.name)
print('Fighting Style:',inosuke.style)
print(f'Knows {inosuke.number_of_technique} technique(s) and has killed {inosuke.kill} demon(s)')
print('===================')
print(f'{tanjiro.name}, {zenitsu.name}, {inosuke.name} knows total {tanjiro.number_of_technique + zenitsu.number_of_technique + inosuke.number_of_technique} techniques')
print(f'They have killed total {tanjiro.kill + zenitsu.kill + inosuke.kill} demons')

Name: Tanjiro
Fighting Style: Water Breathing
Knows 10 technique(s) and has killed 10 demon(s)
===================
Name: Zenitsu
Fighting Style: Thunder Breathing
Knows 1 technique(s) and has killed 4 demon(s)
===================
Name: Inosuke
Fighting Style: Beast Breathing
Knows 5 technique(s) and has killed 7 demon(s)
===================
Tanjiro, Zenitsu, Inosuke knows total 16 techniques
They have killed total 21 demons

# Question 8

In [ ]:
class box:
  def __init__(self, l):
    print("Creating a Box!")
    self.height=l[0]
    self.width=l[1]
    self.breadth=l[2]

    print(f"Volume of the box is {self.height * self.width * self.breadth} cubic units.")

print("Box 1")
b1 = box([10,10,10])
print("=========================")
print("Height:", b1.height)
print("Width:", b1.width)
print("Breadth:", b1.breadth)
print("-------------------------")
print("Box 2")
b2 = box((30,10,10))
print("=========================")
print("Height:", b2.height)
print("Width:", b2.width)
print("Breadth:", b2.breadth)
b2.height = 300
print("Updating Box 2!")
print("Height:", b2.height)
print("Width:", b2.width)
print("Breadth:", b2.breadth)
print("-------------------------")
print("Box 3")
b3 = b2
print("Height:", b3.height)
print("Width:", b3.width)
print("Breadth:", b3.breadth)

Box 1
Creating a Box!
Volume of the box is 1000 cubic units.
=========================
Height: 10
Width: 10
Breadth: 10
-------------------------
Box 2
Creating a Box!
Volume of the box is 3000 cubic units.
=========================
Height: 30
Width: 10
Breadth: 10
Updating Box 2!
Height: 300
Width: 10
Breadth: 10
-------------------------
Box 3
Height: 300
Width: 10
Breadth: 10

# Question 9

In [ ]:
class buttons:
  def __init__(self, word, spaces, border):
    self.word=word
    self.spaces=spaces
    self.border=border
    print("CANCEL Button Specifications:")
    print("Button name:", word)
    b=1+spaces+len(word)+spaces+1
    print("Number of the border characters for the top and the bottom:", b)
    print("Number of spaces between the left side border and the first character of the button name:", self.spaces)
    print("Number of spaces between the right side border and the last character of the button name:", self.spaces)
    print("Characters representing the borders:", self.border)
    print(self.border*b)
    print(self.border + " "*self.spaces + self.word + " "*self.spaces + self.border)
    print(self.border*b)


###########################################################################
word = "CANCEL"
spaces = 10
border = 'x'
b1 = buttons(word, spaces, border)
print("=======================================================")
b2 = buttons("Notify",3, '!')
print("=======================================================")
b3 = buttons('SAVE PROGRESS', 5, '$')

CANCEL Button Specifications:
Button name: CANCEL
Number of the border characters for the top and the bottom: 28
Number of spaces between the left side border and the first character of the button name: 10
Number of spaces between the right side border and the last character of the button name: 10
Characters representing the borders: x
xxxxxxxxxxxxxxxxxxxxxxxxxxxx
x          CANCEL          x
xxxxxxxxxxxxxxxxxxxxxxxxxxxx
=======================================================
CANCEL Button Specifications:
Button name: Notify
Number of the border characters for the top and the bottom: 14
Number of spaces between the left side border and the first character of the button name: 3
Number of spaces between the right side border and the last character of the button name: 3
Characters representing the borders: !
!!!!!!!!!!!!!!
!   Notify   !
!!!!!!!!!!!!!!
=======================================================
CANCEL Button Specifications:
Button name: SAVE PROGRESS
Number of the border characters for the top and the bottom: 25
Number of spaces between the left side border and the first character of the button name: 5
Number of spaces between the right side border and the last character of the button name: 5
Characters representing the borders: $
$$$$$$$$$$$$$$$$$$$$$$$$$
$     SAVE PROGRESS     $
$$$$$$$$$$$$$$$$$$$$$$$$$

# Question 10

In [ ]:
class Wadiya:
  def __init__(self):
    self.name = 'Aladeen'
    self.designation = 'President Prime Minister Admiral General'
    self.num_of_wife = 100
    self.dictator = True

###########################################################################
print("Part 1:")
wadiya = Wadiya()
print("Name of President:", wadiya.name)
print("Designation:", wadiya.designation)
print("Number of wife:", wadiya.num_of_wife)
print('Is he/she a dictator:', wadiya.dictator)

print("Part 2:")
wadiya.name="Donald Trump"
wadiya.designation="President"
wadiya.num_of_wife=1
wadiya.dictator=False

print("Name of President:", wadiya.name)
print("Designation:", wadiya.designation)
print("Number of wife:", wadiya.num_of_wife)
print("Is he/she a dictator:", wadiya.dictator)

Part 1:
Name of President: Aladeen
Designation: President Prime Minister Admiral General
Number of wife: 100
Is he/she a dictator: True
Part 2:
Name of President: Donald Trump
Designation: President
Number of wife: 1
Is he/she a dictator: False

In [ ]:
# Part 1:
# Name of President: Aladeen
# Designation: President Prime Minister Admiral General
# Number of wife: 100
# Is he/she a dictator: True
# Part 2:
# Name of President: Donald Trump
# Designation: President
# Number of wife: 1
# Is he/she a dictator: False

# Question 11 - Tracing

In [ ]:
class Human:
  def __init__(self):
    self.age = 0
    self.height = 0.0

h1 = Human()
h2 = Human()
h1.age = 21
h1.height = 5.5
print(h1.age)
print(h1.height)
h2.height = h1.height - 3
print(h2.height)
h2.age = h1.age
h1.age += h1.age
print(h1.age)
h2 = h1
print(h2.age)
print(h2.height)
h1.age += h1.age
h2.height += h2.height
print(h1.age)
print(h1.height)
h2.age += h2.age
h1.age = h2.age
print(h2.age)

21
5.5
2.5
42
42
5.5
84
11.0
168

# Question 12 - Tracing

In [ ]:
class Student:
  def __init__(self):
    self.name = None
    self.cgpa = 0.0

s1 = Student()
s2 = Student()
s3 = None
s1.name = "Student One"
s1.cgpa = 2.3
s3 = s1
s2.name = "Student Two"
s2.cgpa = s3.cgpa + 1
s3.name = "New Student"
print(s1.name)
print(s2.name)
print(s3.name)
print(s1.cgpa)
print(s2.cgpa)
print(s3.cgpa)
s3 = s2
s1.name = "old student"
s2.name = "older student"
s3.name = "oldest student"
s2.cgpa = s1.cgpa - s3.cgpa + 4.5
print(s1.name)
print(s2.name)
print(s3.name)
print(s1.cgpa)
print(s2.cgpa)
print(s3.cgpa)

New Student
Student Two
New Student
2.3
3.3
2.3
old student
oldest student
oldest student
2.3
3.5
3.5

In [ ]:
2.3-3.3+4.5

3.5

# Question 13 - Tracing

In [ ]:
class Ninja:
  def __init__(self):
    self.rank = 0
    self.stamina = 0.0

naruto = Ninja()
yellow_flash = Ninja()
naruto.rank = 1
naruto.stamina = 95.0
print(naruto.rank)
print(naruto.stamina)
yellow_flash.stamina = naruto.stamina - 2
print(yellow_flash.stamina)
yellow_flash.rank += (naruto.rank + 1)
print(yellow_flash.rank)
minato = yellow_flash
print(minato.rank)
print(minato.stamina)
naruto.rank = minato.rank - 1
naruto.stamina = yellow_flash.stamina + 3
print(naruto.rank)
print(naruto.stamina)
naruto.rank = -(-naruto.rank)
yellow_flash.stamina = -(-minato.stamina)
print(naruto.rank)
print(minato.stamina)

1
95.0
93.0
2
2
93.0
1
96.0
1
93.0