<a href="https://colab.research.google.com/github/Mashrur001/CSE111/blob/main/CSE111_Lab_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task 1

In [ ]:
class Calculator:
  def __init__(self, userFirstNum, operator, userSecNum):
    print("Let's Calculate!")

    self.userFirstNum = userFirstNum
    print("Value 1:", self.userFirstNum)

    self.operator = operator
    print("Operator:", self.operator)

    self.userSecNum = userSecNum
    print("Value 2:", self.userSecNum)

  def sum(self, f, s):
    return f+s

  def biyog(self, f, s):
    return f-s



userFirstNum = int(input())
operator = input()
userSecNum = int(input())

obj = Calculator(userFirstNum, operator, userSecNum)

if operator == "+":
  summation = obj.sum(userFirstNum, userSecNum)
  print("Result:", summation)
elif operator == "-":
  folafol = obj.biyog(userFirstNum, userSecNum)
  print("Result:", folafol)

1
+
2
Let's Calculate!
Value 1: 1
Operator: +
Value 2: 2
Result: 3

In [ ]:
class Calculator:
  def __init__(self, v1, v2, o):
    self.first_value=v1
    self.second_value=v2
    self.operator=o
    print("Let’s Calculate!")
    print("Value 1:", self.first_value)
    print("operator:", self.operator)
    print("Value 2:", self.second_value)

  def add(self,first_value,second_value):
    return (first_value + second_value)

  def subtract(self,first_value,second_value):
    return (first_value - second_value)

  def multiply(self,first_value,second_value):
    return (first_value * second_value)


  def divide(self,first_value,second_value):
    return (first_value / second_value)


first_value=int(input())
operator=input()
second_value=int(input())


c1=Calculator(first_value, second_value, operator)

if operator=="+":
  var=c1.add(first_value, second_value)
  print("Result:",var)
elif operator=="-":
  var=c1.subtract(first_value, second_value)
  print("Result:",var)
elif operator=="*":
  var=c1.multiply(first_value, second_value)
  print("Result:",var)
elif operator=="/":
  var=c1.divide(first_value, second_value)
  print("Result:",var)

1
+
2
Let’s Calculate!
Value 1: 1
operator: +
Value 2: 2
Result: 3

# Task 2

In [ ]:
class Course:
  def __init__(self, n, f, num):
    self.courseName=n
    self.facultyName=f
    self.number=num
  def detail(self):
    print(f"{self.courseName} - {self.facultyName} - {self.number}")


c1 = Course("CSE110", "TBA", 8)
c1.detail()
print("===============")
c2 = Course("CSE111", "TBA", 9)
c2.detail()

CSE110 - TBA - 8
===============
CSE111 - TBA - 9

#Task 3

In [ ]:
class Patient:
  def __init__(self, n, a, w, h):
    self.name=n
    self.age=a
    self.weight=w
    self.height=h

  def printDetails(self):
    print("Name:", self.name)
    print("Age:", self.age)
    print("Weight:", self.weight, "kg")
    print("Height:", self.height, "cm")
    he=self.height*0.01    #  kg/m**2
    bmi=self.weight/(he*he)
    print("BMI:",bmi)



p1 = Patient("A", 55, 63.0, 158.0)
p1.printDetails()
# p1.printDetails   -->> variable
print("====================")
p2 = Patient("B", 53, 61.0, 149.0)
p2.printDetails()

Name: A
Age: 55
Weight: 63.0 kg
Height: 158.0 cm
BMI: 25.236340330075304
====================
Name: B
Age: 53
Weight: 61.0 kg
Height: 149.0 cm
BMI: 27.476239809017613

#Task 4

In [ ]:
class Vehicle:
  def __init__(self):
    self.x=0
    self.y=0
  def print_position(self):
    print(f"({self.x},{self.y})")

  def moveUp(self):
    self.y+=1
  def moveLeft(self):
    self.x-=1
  def moveDown(self):
    self.y-=1
  def moveRight(self):
    self.x+=1

car = Vehicle()
car.print_position()
car.moveUp()
car.print_position()
car.moveLeft()
car.print_position()
car.moveDown()
car.print_position()
car.moveRight()

(0,0)
(0,1)
(-1,1)
(-1,0)

# Task 5

In [ ]:
class Shape:
  def __init__(self, s, v1, v2):
    self.shape=s
    self.value1=v1
    self.value2=v2
  def area(self):
    if self.shape=="Triangle" or self.shape=="Rhombus":
      print("Area:", 0.5*self.value1*self.value2)
    elif self.shape=="Square" or self.shape=="Rectangle":
      print("Area:", self.value1*self.value2)
    else:
      print("Area: Shape unknown")


triangle = Shape("Triangle",10,25)
triangle.area()
print("==========================")
square = Shape("Square",10,10)
square.area()
print("==========================")
rhombus = Shape("Rhombus",18,25)
rhombus.area()
print("==========================")
rectangle = Shape("Rectangle",15,30)
rectangle.area()
print("==========================")
trapezium = Shape("Trapezium",15,30)
trapezium.area()

Area: 125.0
==========================
Area: 100
==========================
Area: 225.0
==========================
Area: 450
==========================
Area: Shape unknown

# Task 6

In [ ]:
class Calculator:
  def __init__(self):
    self.value1=0
    self.value2=0
    self.operator=None
    print("Calculator is ready!")

  def calculate(self,v1,v2,o):
    self.value1=v1
    self.value2=v2
    self.operator=o
    if self.operator=="+":
      return (self.value1+self.value2)
    elif self.operator=="-":
      return (self.value1-self.value2)
    elif self.operator=="*":
      return (self.value1*self.value2)
    elif self.operator=="/":
      return (self.value1/self.value2)
  def showCalculation(self):
    if self.operator=="+":
      print(f"{self.value1} {self.operator} {self.value2} = {self.value1+self.value2}")
    elif self.operator=="-":
      print(f"{self.value1} {self.operator} {self.value2} = {self.value1-self.value2}")
    elif self.operator=="*":
      print(f"{self.value1} {self.operator} {self.value2} = {self.value1*self.value2}")
    elif self.operator=="/":
      print(f"{self.value1} {self.operator} {self.value2} = {self.value1/self.value2}")

c1 = Calculator()
print("==================")
val = c1.calculate(10, 20, '+')
print("Returned value:", val)
c1.showCalculation()
print("==================")
val = c1.calculate(val, 10, '-')
print("Returned value:", val)
c1.showCalculation()
print("==================")
val = c1.calculate(val, 5, '*')
print("Returned value:", val)
c1.showCalculation()
print("==================")
val = c1.calculate(val, 16, '/')
print("Returned value:", val)
c1.showCalculation()

Calculator is ready!
==================
Returned value: 30
10 + 20 = 30
==================
Returned value: 20
30 - 10 = 20
==================
Returned value: 100
20 * 5 = 100
==================
Returned value: 6.25
100 / 16 = 6.25

# Task 7

In [ ]:
class Student:
  def __init__(self, n, id, d, cgList):
    self.name=n
    self.id=id
    self.department=d
    self.cgpa=cgList

  def calculate_CGPA(self):
    sum=0
    for i in self.cgpa:
      sum+=i*3
    finalCGPA=sum/(len(self.cgpa)*3)
    self.cgpa=finalCGPA

  def print_details(self):
    print(f"Name: {self.name}, ID: {self.id}")
    print("Department:", self.department)
    print("CGPA:", self.cgpa)
    if self.cgpa>3.80:
      print('Your academic standing is "Highest Distinction"')
    elif self.cgpa>3.65:
      print('Your academic standing is "High Distinction"')
    elif self.cgpa>3.50:
      print('Your academic standing is "Distinction"')
    elif self.cgpa>2.00:
      print('Your academic standing is "Satisfactory"')
    elif self.cgpa<2.00:
      print("Sorry, you cannot graduate")


s1 = Student('Dora', '15995599','CSE', [4,3.7,3.7,4])
s1.calculate_CGPA()
print("==========================")
s1.print_details()
print("==========================")
s2 = Student('Pingu', '12312322', 'EEE', [1.7,1.3,1.3,1.3,1])
s2.calculate_CGPA()
print("==========================")
s2.print_details()
print("==========================")
s3 = Student('Bob', '13311331', 'CSE', [2,3,3,3.7,2.7,2.7])
s3.calculate_CGPA()
print("==========================")
s3.print_details()

==========================
Name: Dora, ID: 15995599
Department: CSE
CGPA: 3.85
Your academic standing is "Highest Distinction"
==========================
==========================
Name: Pingu, ID: 12312322
Department: EEE
CGPA: 1.32
Sorry, you cannot graduate
==========================
==========================
Name: Bob, ID: 13311331
Department: CSE
CGPA: 2.85
Your academic standing is "Satisfactory"

# Task 8

In [ ]:
class Shinobi:
  def __init__(self,n,r):
    self.name=n
    self.rank=r
    self.mission=0
    self.salary=0
  def calSalary(self,mission):
    self.mission=mission
    if self.rank == 'Genin':
      self.salary=self.mission*50
    elif self.rank == 'Chunin':
      self.salary=self.mission*100
    else:
      self.salary=self.mission*500
  def printInfo(self):
    print(f"Name: {self.name}")
    print(f"Rank: {self.rank}")
    print(f"Number of mission: {self.mission}")
    print(f"Salary: {self.salary}")
  def changeRank(self,rank):
    self.rank=rank

naruto = Shinobi("Naruto", "Genin")
naruto.calSalary(5)
naruto.printInfo()
print('====================')
shikamaru = Shinobi('Shikamaru', "Genin")
shikamaru.printInfo()
shikamaru.changeRank("Chunin")
shikamaru.calSalary(10)
shikamaru.printInfo()
print('====================')
neiji = Shinobi("Neiji", "Jonin")
neiji.calSalary(5)
neiji.printInfo()

Name: Naruto
Rank: Genin
Number of mission: 5
Salary: 250
====================
Name: Shikamaru
Rank: Genin
Number of mission: 0
Salary: 0
Name: Shikamaru
Rank: Chunin
Number of mission: 10
Salary: 1000
====================
Name: Neiji
Rank: Jonin
Number of mission: 5
Salary: 2500

# Task 9

In [ ]:
class Programmer:
  def __init__(self, n, l, e):
    self.name=n
    self.language=l
    self.experience=e
    print("Horray! A new programmer is born")
  def printDetails(self):
    print(f"Name: {self.name}")
    print(f"Language: {self.language}")
    print(f"Experience: {self.experience} years.")
  def addExp(self, experience):
    self.experience+=experience
    print(f"Updating experience of {self.name}")


p1 = Programmer("Ethen Hunt", "Java", 10)
p1.printDetails()
print('--------------------------')
p2 = Programmer("James Bond", "C++", 7)
p2.printDetails()
print('--------------------------')
p3 = Programmer("Jon Snow", "Python", 4)
p3.printDetails()
p3.addExp(5)
p3.printDetails()

Horray! A new programmer is born
Name: Ethen Hunt
Language: Java
Experience: 10 years.
--------------------------
Horray! A new programmer is born
Name: James Bond
Language: C++
Experience: 7 years.
--------------------------
Horray! A new programmer is born
Name: Jon Snow
Language: Python
Experience: 4 years.
Updating experience of Jon Snow
Name: Jon Snow
Language: Python
Experience: 9 years.

# Task 10

In [ ]:
class UberEats:
  def __init__(self, n, p, a):
    self.name=n
    self.phone=p
    self.address=a
    self.order={}
    self.price=0
    print(f"{self.name}, welcome to UberEats!")

  def add_items(self,*args):
    x=0
    y=len(args)//2
    while x<(len(args)//2):
      self.order[args[x]]=args[y]
      x+=1
      y+=1

    for i in range(len(args)//2, len(args)):
      self.price+=args[i]

  def print_order_detail(self):
    return (f"User details: Name: {self.name}, Phone: {self.phone}, Address: {self.address} \nOrders: {self.order} \nTotal Paid Amount: {self.price} ")



order1 = UberEats("Shakib", "01719658xxx", "Mohakhali")
print("=========================")
order1.add_items("Burger", "Coca Cola", 220, 50)
print("=========================")
print(order1.print_order_detail())
print("=========================")
order2 = UberEats ("Siam", "01719659xxx", "Uttara")
print("=========================")
order2.add_items("Pineapple", "Dairy Milk", 80, 70)
print("=========================")
print(order2.print_order_detail())

Shakib, welcome to UberEats!
=========================
=========================
User details: Name: Shakib, Phone: 01719658xxx, Address: Mohakhali
Orders: {'Burger': 220, 'Coca Cola': 50}
Total Paid Amount: 270
=========================
Siam, welcome to UberEats!
=========================
=========================
User details: Name: Siam, Phone: 01719659xxx, Address: Uttara
Orders: {'Pineapple': 80, 'Dairy Milk': 70}
Total Paid Amount: 150

In [ ]:
class UberEats:
  def __init__(self, n, p, a):
    self.name=n
    self.phone=p
    self.address=a
    self.order=None
    self.price=0
    print(f"{self.name}, welcome to UberEats!")

  def add_items(self,item1, item2, priceOfItem1, priceOfItem2):
    self.order="{"+item1+":"+str(priceOfItem1)+", "+item2+":"+str(priceOfItem2)+"}"
    self.price=priceOfItem1 + priceOfItem2
  def print_order_detail(self):
    return (f"User details: Name: {self.name}, Phone: {self.phone}, Address: {self.address} \nOrders: {self.order} \nTotal Paid Amount: {self.price} ")



order1 = UberEats("Shakib", "01719658xxx", "Mohakhali")
print("=========================")
order1.add_items("Burger", "Coca Cola", 220, 50)
print("=========================")
print(order1.print_order_detail())
print("=========================")
order2 = UberEats ("Siam", "01719659xxx", "Uttara")
print("=========================")
order2.add_items("Pineapple", "Dairy Milk", 80, 70)
print("=========================")
print(order2.print_order_detail())

Shakib, welcome to UberEats!
=========================
=========================
User details: Name: Shakib, Phone: 01719658xxx, Address: Mohakhali
Orders: {Burger:220, Coca Cola:50}
Total Paid Amount: 270
=========================
Siam, welcome to UberEats!
=========================
=========================
User details: Name: Siam, Phone: 01719659xxx, Address: Uttara
Orders: {Pineapple:80, Dairy Milk:70}
Total Paid Amount: 150

# Task 11

In [ ]:
class Spotify:
  def __init__(self, songList):
    self.songList=songList
    print("Welcome to Spotify!")
  def playing_number(self, num):
    if num<=len(self.songList):
      return ( f"Playing {num} number song for you \nSong name: {self.songList[num-1]} \n##########################" )
    else:
      return (f"{num} number song not found. Your playlist has {len(self.songList)} songs only. \n##########################")

  def add_to_playlist(self, newSong):
    self.songList.append(newSong)


user1 = Spotify(["See You Again", "Uptown Funk", "Hello"])
print("=========================")
print(user1.playing_number(4))
user1.add_to_playlist("Dusk Till Dawn")
print(user1.playing_number(3))
print(user1.playing_number(4))

Welcome to Spotify!
=========================
4 number song not found. Your playlist has 3 songs only.
##########################
Playing 3 number song for you
Song name: Hello
##########################
Playing 4 number song for you
Song name: Dusk Till Dawn
##########################

# Task 12

In [ ]:
class Test:
  def __init__(self):
    self.sum = 0
    self.y = 0
  def methodA(self):
    x=0
    y =0
    y = y + 7
    x = y + 11
    self.sum = x + y
    print(x , y, self.sum)
  def methodB(self):
    x = 0
    self.y = self.y + 11
    x = x + 33 + self.y
    self.sum = self.sum + x + self.y
    print(x , self.y, self.sum)

t1 = Test()
t1.methodA()
t1.methodA()
t1.methodB()
t1.methodB()
pass

18 7 25
18 7 25
44 11 80
55 22 157

# Task 13

In [ ]:
class Scope:
  def __init__(self):
    self.x, self.y = 1, 100
  def met1(self):
    x = 3
    x = self.x + 1
    self.y = self.y + self.x + 1
    x = self.y + self.met2() + self.y
    print(x, self.y)
  def met2(self):
    y = 0
    print(self.x, y)
    self.x = self.x + y
    self.y = self.y + 200
    return self.x + y

q2 = Scope()
q2.met1()
q2.met2()
q2.met1()
q2.met2()
pass

1 0
405 302
1 0
1 0
1209 704
1 0

# Task 14

In [ ]:
class Test3:
  def __init__(self):
    self.sum, self.y = 0, 0
  def methodA(self):
    x, y = 2, 3
    msg = [0]
    msg[0] = 3
    y = self.y + msg[0]
    self.methodB(msg, msg[0])
    x = self.y + msg[0]
    self.sum = x + y + msg[0]
    print(x, y, self.sum)
  def methodB(self, mg2, mg1):
    x = 0
    self.y = self.y + mg2[0]
    x = x + 33 + mg1
    self.sum = self.sum + x + self.y
    mg2[0] = self.y + mg1
    mg1 = mg1 + x + 2
    print(x, self.y, self.sum)
t3 = Test3()
t3.methodA()
t3.methodA()
t3.methodA()
t3.methodA() #

36 3 39
9 3 18
36 6 60
15 6 30
36 9 75
21 9 42
36 12 90
27 12 54

In [ ]:
msg = [0]
msg[0] = 3
print(msg)

[3]

# Task 15

In [ ]:
class Test5:
  def __init__(self):
    self.sum, self.y = 0, 0
  def methodA(self):
    x = 0
    z = 0
    while (z < 5):
      self.y = self.y + self.sum
      x = self.y + 1
      print(x, self.y, self.sum)
      self.sum = self.sum + self.methodB(x, self.y)
      z += 1
  def methodB(self, m, n):
    x = 0
    sum = 0
    self.y = self.y + m
    x = n - 4
    sum = sum + self.y
    print(x, self.y, sum)
    return self.sum
t5 = Test5()
t5.methodA()

1 0 0
-4 1 1
2 1 0
-3 3 3
4 3 0
-1 7 7
8 7 0
3 15 15
16 15 0
11 31 31